
html,body {
    background: transparent;
    margin:1px;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    display:none;
}

#main {
    overflow: auto;;
    width:88%;
    height:88%;
    padding:0px;
    position:absolute;
    top:4px;
    left:4px;
    /*background: rgba(114, 250, 46, 0.5);*/
    /*border-radius: 50%;*/
    transition: all 0.5s;
    margin:0px;
    /*border:2px solid rgba(211, 84, 0,1.0);*/
}

#mainContent {
    color:white;
    top:5.5%;
    left:5.5%;
    position:absolute;
    padding:0px;
    margin:0px;
}

button {
    margin:0;
    background: transparent;
    outline:none;
    border:none;
    transition: all 0.35s;
    font-size: 1.25em !important;
    color:white;
}

button:hover {
    color:rgba(26, 188, 156,1.0);
}

.drag-element {
    width:45px;
    height:45px;
    position: absolute;
    top: 1px;
    left: 1px;
    cursor:hand;
}


/* --------------------------------------------- BLINKING ICON PART --------------------------------------------- */
.blink {
  animation: blinking 0.5s linear infinite;
}

@keyframes blinking {
    0% { color: white; }
    50% { color:rgba(26, 188, 156,1.0) }
    100% { color: white; }
}


/* --------------------------------------------- CONV NUMBER PART --------------------------------------------- */

.badge {
    display:none;
    width: 20px;
    height: 20px;
    line-height: 20px;  /* 数值与height相同，使数字垂直居中*/
    text-align: center;  /*使数字水平居中*/
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%; /*使正方形发变圆形，矩形变椭圆形*/
    position: relative;
    top: 2px;
    left: 40px;
}

img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
